# Configurações de Deploy
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
BESU_RPC_URL=http://localhost:8545

# Parâmetros do Contrato
CARBON_PRICE_EUR=50000000    # 50 EUR/ton (6 decimais)
EUR_BRL_RATE=6000000         # 6.0 BRL/EUR (6 decimais)
FUND_AMOUNT=1.0              # Quantidade em ETH para financiar o contrato

# Outras configurações
REPORT_GAS=true
ETHERSCAN_API_KEY=your_api_key_here