# JWT configuration for python-jose
JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRATION_DAYS=2

# Database configuration
DB_SERVICE_NAME=postgresql+asyncpg
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dev

# Server miscellaneous
ENV = development
CORS_ORIGINS = '["http://localhost", "http://localhost:3000", "http://localhost:8080"]'

# BESU
BESU_RPC_HOST=rpc-admin
BESU_RPC_PORT=8545
BESU_JWT_PRIVATE_KEY='PRIVATE_KEY_CONTENT'
